@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    color:white;
    box-sizing: border-box;

}
.btn
{
    position: absolute;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}
.btn.click{
    left: 260px;
}
.btn span{
    color: white;
    font-size: 28px;
    line-height: 45px;

}
.btn.click span:before{
    content: '\f00d';
}
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0;
    background: #1b1b1b;
    transition: left 0.4s ease;

}
.sidebar .text{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background-color: #1e1e1e;
    letter-spacing: 1px;
}
.sidebar.show{
    left: 0px;
}
nav ul{
    background:#1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
    

}
nav ul li{
    line-height: 60px;
    border-bottom: 20px solid rgba(255,255,255,0.1);
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: -500px solid transparent;
}
nav ul li a:hover{
    color:cyan;
    background: #1e1e1e;
    border-left-color: cyan;


}


